Logic app delete old secrets/Automation_delete_secret.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 100
                },
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 100
                },
                "type": "Recurrence"
            }
        },
        "actions": {
            "HTTP_1_get_application_id": {
                "runAfter": {
                    "Parse_token": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,%27production%27)%20or%20startswith(displayName,%27test%27)%20or%20startswith(displayName,%27hotfix%27)&$select=id,displayName,appId",
                    "method": "GET",
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_token')?['access_token']}",
                        "ConsistencyLevel": "eventual",
                        "Content-Type": "application/json"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP_get_token": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/5a5d7aa1-ca58-4db9-9872-ad0de107692b/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "client_id=placeholder\n&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default\n&client_secret=placeholder\n&grant_type=client_credentials"
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON_appid_and_object_id": {
                "runAfter": {
                    "HTTP_1_get_application_id": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_1_get_application_id')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "appId": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "displayName",
                                        "appId"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                }
            },
            "Parse_token": {
                "runAfter": {
                    "HTTP_get_token": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_get_token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            },
            "Post_message_if_deleting_key_vault_has_failed": {
                "runAfter": {
                    "For_each_1": [
                        "Failed",
                        "TimedOut"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "placeholder"
                        }
                    },
                    "method": "post",
                    "body": {
                        "channel": "it-ops-alerts",
                        "text": "------------------------------------------------------------------\nNew Alert!  :thisisfine:\n------------------------------------------------------------------\nKey Vault Expiring has failed please check Logic app. \n------------------------------------------------------------------\nplease re run the logic app to fix the issue. \nLogic app name : Delete-secrects-automatic\n------------------------------------------------------------------",
                        "username": "Azure Bot",
                        "icon_emoji": ":thisisfine:"
                    },
                    "path": "/v2/chat.postMessage"
                }
            },
            "For_each_1": {
                "foreach": "@outputs('Parse_JSON_appid_and_object_id')?['body']?['value']",
                "actions": {
                    "HTTP_1_get_info_about_user": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/v1.0/applications/@{items('For_each_1')?['id']}",
                            "method": "GET",
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_token')?['access_token']}",
                                "Content-Type": "application/json"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "pars_keyid": {
                        "runAfter": {
                            "HTTP_1_get_info_about_user": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('HTTP_1_get_info_about_user')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "addIns": {
                                        "type": "array"
                                    },
                                    "api": {
                                        "properties": {
                                            "acceptMappedClaims": {},
                                            "knownClientApplications": {
                                                "type": "array"
                                            },
                                            "oauth2PermissionScopes": {
                                                "type": "array"
                                            },
                                            "preAuthorizedApplications": {
                                                "type": "array"
                                            },
                                            "requestedAccessTokenVersion": {}
                                        },
                                        "type": "object"
                                    },
                                    "appId": {
                                        "type": "string"
                                    },
                                    "appRoles": {
                                        "items": {
                                            "properties": {
                                                "allowedMemberTypes": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "isEnabled": {
                                                    "type": "boolean"
                                                },
                                                "origin": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "allowedMemberTypes",
                                                "description",
                                                "displayName",
                                                "id",
                                                "isEnabled",
                                                "origin",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "applicationTemplateId": {},
                                    "certification": {},
                                    "createdDateTime": {
                                        "type": "string"
                                    },
                                    "defaultRedirectUri": {},
                                    "deletedDateTime": {},
                                    "description": {},
                                    "disabledByMicrosoftStatus": {},
                                    "displayName": {
                                        "type": "string"
                                    },
                                    "groupMembershipClaims": {},
                                    "id": {
                                        "type": "string"
                                    },
                                    "identifierUris": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "info": {
                                        "properties": {
                                            "logoUrl": {},
                                            "marketingUrl": {},
                                            "privacyStatementUrl": {},
                                            "supportUrl": {},
                                            "termsOfServiceUrl": {}
                                        },
                                        "type": "object"
                                    },
                                    "isDeviceOnlyAuthSupported": {},
                                    "isFallbackPublicClient": {},
                                    "keyCredentials": {
                                        "type": "array"
                                    },
                                    "nativeAuthenticationApisEnabled": {},
                                    "notes": {},
                                    "optionalClaims": {},
                                    "parentalControlSettings": {
                                        "properties": {
                                            "countriesBlockedForMinors": {
                                                "type": "array"
                                            },
                                            "legalAgeGroupRule": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "passwordCredentials": {
                                        "items": {
                                            "properties": {
                                                "customKeyIdentifier": {},
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "endDateTime": {
                                                    "type": "string"
                                                },
                                                "hint": {
                                                    "type": "string"
                                                },
                                                "keyId": {
                                                    "type": "string"
                                                },
                                                "secretText": {},
                                                "startDateTime": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "customKeyIdentifier",
                                                "displayName",
                                                "endDateTime",
                                                "hint",
                                                "keyId",
                                                "secretText",
                                                "startDateTime"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "publicClient": {
                                        "properties": {
                                            "redirectUris": {
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "publisherDomain": {
                                        "type": "string"
                                    },
                                    "requestSignatureVerification": {},
                                    "requiredResourceAccess": {
                                        "items": {
                                            "properties": {
                                                "resourceAccess": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "resourceAppId": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "resourceAppId",
                                                "resourceAccess"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "samlMetadataUrl": {},
                                    "serviceManagementReference": {},
                                    "servicePrincipalLockConfiguration": {},
                                    "signInAudience": {
                                        "type": "string"
                                    },
                                    "spa": {
                                        "properties": {
                                            "redirectUris": {
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "tags": {
                                        "type": "array"
                                    },
                                    "tokenEncryptionKeyId": {},
                                    "uniqueName": {},
                                    "verifiedPublisher": {
                                        "properties": {
                                            "addedDateTime": {},
                                            "displayName": {},
                                            "verifiedPublisherId": {}
                                        },
                                        "type": "object"
                                    },
                                    "web": {
                                        "properties": {
                                            "homePageUrl": {},
                                            "implicitGrantSettings": {
                                                "properties": {
                                                    "enableAccessTokenIssuance": {
                                                        "type": "boolean"
                                                    },
                                                    "enableIdTokenIssuance": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "logoutUrl": {},
                                            "redirectUriSettings": {
                                                "type": "array"
                                            },
                                            "redirectUris": {
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "For_each": {
                        "foreach": "@outputs('pars_keyid')?['body']?['passwordCredentials']",
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "HTTP_delete_all_expired_secrets": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "https://graph.microsoft.com/v1.0/applications/@{items('For_each_1')?['id']}/removePassword",
                                            "method": "POST",
                                            "headers": {
                                                "Authorization": "Bearer @{body('Parse_token')?['access_token']}",
                                                "Content-Type": "application/json"
                                            },
                                            "body": {
                                                "keyId": "@items('For_each')?['keyId']"
                                            }
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@less(item()?['endDateTime'], utcNow())",
                                                true
                                            ]
                                        }
                                    ]
                                },
                                "type": "If"
                            }
                        },
                        "runAfter": {
                            "pars_keyid": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    }
                },
                "runAfter": {
                    "Parse_JSON_appid_and_object_id": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}