Logic App automated rotation/Automation_rotate_secret.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 5,
                    "timeZone": "W. Europe Standard Time"
                },
                "evaluatedRecurrence": {
                    "frequency": "Month",
                    "interval": 5,
                    "timeZone": "W. Europe Standard Time"
                },
                "type": "Recurrence"
            }
        },
        "actions": {
            "HTTP_1_get_application_id": {
                "runAfter": {
                    "Parse_token": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,%27production%27)%20or%20startswith(displayName,%27test%27)%20or%20startswith(displayName,%27hotfix%27)&$select=id,displayName,appId",
                    "method": "GET",
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_token')?['access_token']}",
                        "ConsistencyLevel": "eventual",
                        "Content-Type": "application/json"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP_get_token": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/5a5d7aa1-ca58-4db9-9872-ad0de107692b/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "client_id=placeholder\n&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default\n&client_secret=placeholder\n&grant_type=client_credentials"
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON_appid_and_object_id": {
                "runAfter": {
                    "HTTP_1_get_application_id": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_1_get_application_id')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "appId": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "displayName",
                                        "appId"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                }
            },
            "Parse_token": {
                "runAfter": {
                    "HTTP_get_token": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_get_token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            },
            "For_each_1": {
                "foreach": "@outputs('Parse_JSON_appid_and_object_id')?['body']?['value']",
                "actions": {
                    "Condition_1": {
                        "actions": {
                            "HTTP_1_get_info_about_user": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/applications/@{items('For_each_1')?['id']}",
                                    "method": "GET",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_token')?['access_token']}",
                                        "Content-Type": "application/json"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "pars_keyid": {
                                "runAfter": {
                                    "HTTP_1_get_info_about_user": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('HTTP_1_get_info_about_user')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "deletedDateTime": {},
                                            "appId": {
                                                "type": "string"
                                            },
                                            "applicationTemplateId": {},
                                            "disabledByMicrosoftStatus": {},
                                            "createdDateTime": {
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "description": {},
                                            "groupMembershipClaims": {},
                                            "identifierUris": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "isDeviceOnlyAuthSupported": {},
                                            "isFallbackPublicClient": {},
                                            "nativeAuthenticationApisEnabled": {},
                                            "notes": {},
                                            "publisherDomain": {
                                                "type": "string"
                                            },
                                            "serviceManagementReference": {},
                                            "signInAudience": {
                                                "type": "string"
                                            },
                                            "tags": {
                                                "type": "array"
                                            },
                                            "tokenEncryptionKeyId": {},
                                            "uniqueName": {},
                                            "samlMetadataUrl": {},
                                            "defaultRedirectUri": {},
                                            "certification": {},
                                            "optionalClaims": {},
                                            "servicePrincipalLockConfiguration": {},
                                            "requestSignatureVerification": {},
                                            "addIns": {
                                                "type": "array"
                                            },
                                            "api": {
                                                "type": "object",
                                                "properties": {
                                                    "acceptMappedClaims": {},
                                                    "knownClientApplications": {
                                                        "type": "array"
                                                    },
                                                    "requestedAccessTokenVersion": {},
                                                    "oauth2PermissionScopes": {
                                                        "type": "array"
                                                    },
                                                    "preAuthorizedApplications": {
                                                        "type": "array"
                                                    }
                                                }
                                            },
                                            "appRoles": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "allowedMemberTypes": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "isEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "origin": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "allowedMemberTypes",
                                                        "description",
                                                        "displayName",
                                                        "id",
                                                        "isEnabled",
                                                        "origin",
                                                        "value"
                                                    ]
                                                }
                                            },
                                            "info": {
                                                "type": "object",
                                                "properties": {
                                                    "logoUrl": {},
                                                    "marketingUrl": {},
                                                    "privacyStatementUrl": {},
                                                    "supportUrl": {},
                                                    "termsOfServiceUrl": {}
                                                }
                                            },
                                            "keyCredentials": {
                                                "type": "array"
                                            },
                                            "parentalControlSettings": {
                                                "type": "object",
                                                "properties": {
                                                    "countriesBlockedForMinors": {
                                                        "type": "array"
                                                    },
                                                    "legalAgeGroupRule": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "passwordCredentials": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "customKeyIdentifier": {},
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "endDateTime": {
                                                            "type": "string"
                                                        },
                                                        "hint": {
                                                            "type": "string"
                                                        },
                                                        "keyId": {
                                                            "type": "string"
                                                        },
                                                        "secretText": {},
                                                        "startDateTime": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "customKeyIdentifier",
                                                        "displayName",
                                                        "endDateTime",
                                                        "hint",
                                                        "keyId",
                                                        "secretText",
                                                        "startDateTime"
                                                    ]
                                                }
                                            },
                                            "publicClient": {
                                                "type": "object",
                                                "properties": {
                                                    "redirectUris": {
                                                        "type": "array"
                                                    }
                                                }
                                            },
                                            "requiredResourceAccess": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "resourceAppId": {
                                                            "type": "string"
                                                        },
                                                        "resourceAccess": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "type"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "resourceAppId",
                                                        "resourceAccess"
                                                    ]
                                                }
                                            },
                                            "verifiedPublisher": {
                                                "type": "object",
                                                "properties": {
                                                    "displayName": {},
                                                    "verifiedPublisherId": {},
                                                    "addedDateTime": {}
                                                }
                                            },
                                            "web": {
                                                "type": "object",
                                                "properties": {
                                                    "homePageUrl": {},
                                                    "logoutUrl": {},
                                                    "redirectUris": {
                                                        "type": "array"
                                                    },
                                                    "implicitGrantSettings": {
                                                        "type": "object",
                                                        "properties": {
                                                            "enableAccessTokenIssuance": {
                                                                "type": "boolean"
                                                            },
                                                            "enableIdTokenIssuance": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    },
                                                    "redirectUriSettings": {
                                                        "type": "array"
                                                    }
                                                }
                                            },
                                            "spa": {
                                                "type": "object",
                                                "properties": {
                                                    "redirectUris": {
                                                        "type": "array"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "HTTP_create_new_secret": {
                                "runAfter": {
                                    "pars_keyid": [
                                        "Succeeded",
                                        "TimedOut",
                                        "Skipped"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/applications/@{items('For_each_1')?['id']}/addPassword",
                                    "method": "POST",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_token')?['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "passwordCredential": {
                                            "displayName": "placeholder secret name",
                                            "endDateTime": "@{addToTime(utcNow(), 6, 'Month')}"
                                        }
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    },
                                    "secureData": {
                                        "properties": [
                                            "outputs"
                                        ]
                                    }
                                }
                            },
                            "Parse_secret": {
                                "runAfter": {
                                    "HTTP_create_new_secret": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('HTTP_create_new_secret')",
                                    "schema": {
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "customKeyIdentifier": {},
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "endDateTime": {
                                                "type": "string"
                                            },
                                            "hint": {
                                                "type": "string"
                                            },
                                            "keyId": {
                                                "type": "string"
                                            },
                                            "secretText": {
                                                "type": "string"
                                            },
                                            "startDateTime": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "secureData": {
                                        "properties": [
                                            "inputs"
                                        ]
                                    }
                                }
                            },
                            "HTTP_post_secret_to_keyvault": {
                                "runAfter": {
                                    "Parse_secret": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://placeholder.vault.azure.net//secrets/@{item()?['appId']}?api-version=7.4",
                                    "method": "PUT",
                                    "body": {
                                        "contentType": "@{items('For_each_1')?['displayName']}",
                                        "value": "@{body('Parse_secret')?['secretText']}"
                                    },
                                    "authentication": {
                                        "audience": "https://palceholder.vault.azure.net",
                                        "identity": "Microsoft.ManagedIdentity/userAssignedIdentities/placeholder",
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    },
                                    "secureData": {
                                        "properties": [
                                            "inputs",
                                            "outputs"
                                        ]
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@not(endsWith(item()?['displayName'], 'test'))\r\n",
                                        true
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "Parse_JSON_appid_and_object_id": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Post_message_(V2)-copy": {
                "runAfter": {
                    "For_each_1": [
                        "Failed"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "placeholder"
                        }
                    },
                    "method": "post",
                    "body": {
                        "channel": "CGE2WU058",
                        "text": "------------------------------------------------------------------\nNew Alert! \n------------------------------------------------------------------\nApp Registration secrets have been rotatet in Production and updated in Keyvault : Passwordautomation\n------------------------------------------------------------------\nplease re run the logic app to fix the issue. \nLogic app name : Automatic_secrets_renewel\n------------------------------------------------------------------",
                        "username": "Azure Bot"
                    },
                    "path": "/v2/chat.postMessage"
                }
            },
            "post_message_if_something_has_gone_wrong": {
                "runAfter": {
                    "For_each_1": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "placeholder"
                        }
                    },
                    "method": "post",
                    "body": {
                        "channel": "channel you want to use",
                        "text": "------------------------------------------------------------------\nNew Alert!  :thisisfine:\n------------------------------------------------------------------\nSecrets renewel has failed please check Logic app. \n------------------------------------------------------------------\nplease re run the logic app to fix the issue. \nLogic app name : Automatic-secret-Renewel\n------------------------------------------------------------------",
                        "username": "Azure Bot",
                        "icon_emoji": ":thisisfine:"
                    },
                    "path": "/v2/chat.postMessage"
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    }
}